<!-- src/app/sessions-table/sessions-table.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="sessionId">
    <th mat-header-cell *matHeaderCellDef> Session ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.sessionId }} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.imported">
        Imported
      </div>
      <div *ngIf="!element.imported">
        <button (click)="fetchSessionData(element.sessionId)">Get Data</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['sessionId', 'action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['sessionId', 'action'];"></tr>
</table>
